<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script src="http://msakamaki.github.io/polymer-sample/bower_components/platform/platform.js"></script>
    <link rel="import" href="http://msakamaki.github.io/polymer-sample/src/my-element.html">
    <link rel="import" href="http://reading.fxos.org:8088/xcd/src/x-business-card.html">
    <link rel="import" href="http://reading.fxos.org:8088/bower_components/x-pokemon/x-pokemon.html">
    <link rel="import" href="http://reading.fxos.org:8088/ghc/bower_components/github-card/webcomponent/github-card.html">
    <title>myfxosapp</title>
    <script src="./js/vendor/angular/angular.js"></script>
</head>

<body>
    <header class="header" role="navigation">
        <div>myfxosapp</div>
    </header>

    <div id="main" ng-app>
        <ul>
          <a href="#" id="about">About</a>
          <my-element></my-element>
        </ul>
        <ul><a href="http://pokemondb.net/pokedex/all"　target="_blank">Pokemon lists</a></ul>
        <ul><input type="text" ng-model="pokename" ng-init="pokename='pikachu'"></ul>
        <ul><x-pokemon name={{pokename}}></x-pokemon></ul>
        <ul><x-pokemon name=raichu></x-pokemon></ul>
        <ul><input type="text" ng-model="ghname" ng-init="ghname='FxOS-Code-Reading-Grou'"></ul>
        <ul><github-card user="{{ghname}}"></github-card></ul>
        <ul><x-business-card animation="hinge" thema="enpura"></x-business-card></ul>
    </div>

    
    
    <footer></footer>

    <!--script type="text/javascript" src="./js/FirefoxOSAppGenerator.min.js"></script-->
</body>
</html>
