<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- polymer sample -->
    <!--script src="http://msakamaki.github.io/polymer-sample/bower_components/platform/platform.js"></script>
    <link rel="import" href="http://msakamaki.github.io/polymer-sample/src/my-element.html">
    <link rel="import" href="http://reading.fxos.org:8088/xcd/src/x-business-card.html">
    <link rel="import" href="http://reading.fxos.org:8088/bower_components/x-pokemon/x-pokemon.html">
    <link rel="import" href="http://reading.fxos.org:8088/ghc/bower_components/github-card/webcomponent/github-card.html">
    <script src="http://reading.fxos.org:8088/brick/bower_components/brick/dist/platform/platform.js"></script-->

    <!-- x-tag sample -->
    <link rel="stylesheet" type="text/css" href="http://reading.fxos.org:8088/xtag/bower_components/x-tag-slidebox/src/slidebox.css"/>
    <script type="text/javascript" src="http://reading.fxos.org:8088/xtag/bower_components/x-tag-slidebox/demo/x-tag-components.js"></script>
    <script type="text/javascript" src="http://reading.fxos.org:8088/xtag/bower_components/x-tag-slidebox/src/slidebox.js"></script>

    <title>myfxosapp</title>
    <script src="./js/vendor/angular/angular.js"></script>
    <style type="text/css">
      #slidebox_demo {
        height: 300px;
        width: 220px;
      }
      #slidebox_demo img{
        height: 100%;
        width: 100%;
      }
    </style>
</head>

<body>
    <header class="header" role="navigation">
        <div>myfxosapp</div>
    </header>

    <!-- polymer sample -->
    <!-- div id="main">
        <ul>
          <a href="#" id="about">About</a>
          <my-element></my-element>
        </ul>
        <ul><a href="http://pokemondb.net/pokedex/all"　target="_blank">Pokemon lists</a></ul>
        <ul><input type="text" ng-model="pokename" ng-init="pokename='pikachu'"></ul>
        <ul><x-pokemon name={{pokename|lowercase}}></x-pokemon></ul>
        <ul><github-card user="FxOS-Code-Reading-Group"></github-card></ul>
        <ul><x-business-card animation="hinge" thema="enpura"></x-business-card></ul>
        <ul>

        </ul>
    </div-->

<!-- x-tag sample -->
<div ng-app="fxosApp">
  <dl ng-controller="fxosctrl">
    <dd id="slidebox">
      <nav class="actions">
        <button ng-click="next()"><- Previous Slide</button>
        <button ng-click="prev()">Next Slide -></button>
        <button ng-click="slideTo(2)">Slide To 3</button>
        <button ng-click="slideOrientation()">Toggle orientation</button>
      </nav>

      <x-slidebox ng-click="next()" id="slidebox_demo" orientation="{{origin}}" ng-init="origin='x'">
        <x-slides>
          <x-slide><img src="http://reading.fxos.org:8088/xtag/bower_components/x-tag-slidebox/demo/birnimal-calendar.png" /></x-slide>
          <x-slide><img src="http://reading.fxos.org:8088/xtag/bower_components/x-tag-slidebox/demo/birnimal-graph.png" /></x-slide>
          <x-slide><img src="http://reading.fxos.org:8088/xtag/bower_components/x-tag-slidebox/demo/birnimal-detail.png" /></x-slide>
          <x-slide><img src="http://reading.fxos.org:8088/xtag/bower_components/x-tag-slidebox/demo/birnimal-settings.png" /></x-slide>
        </x-slides>
      </x-slidebox>

    </dd>
  </dl>
</div>
<script type="text/javascript">
angular.module('fxosApp',[])
    .controller('fxosctrl', ['$scope', function($scope) {
        $scope.demo = document.getElementById('slidebox_demo');
        $scope.next = function(){ $scope.demo.slideNext(); }
        $scope.prev = function(){ $scope.demo.slidePrevious(); }
        $scope.slideTo = function(sendnum){ $scope.demo.slideTo(sendnum); }
        $scope.slideOrientation = function(){ $scope.origin = ($scope.origin == 'x') ? 'y' : 'x'; }
    }]);
</script>    
    <footer></footer>
</body>
</html>
